<div class="mb-3 col-6">
  <label for="exampleInputEmail1" class="form-label">First Name</label>
  <input
    type="name"
    name="first_name"
    value="{{this.first_name}}"
    class="form-control"
    id="exampleInputEmail1"
    placeholder="First Name"
    aria-describedby="emailHelp"
  />
</div>
<div class="mb-3 col-6">
  <label for="exampleInputEmail1" class="form-label">Last Name</label>
  <input
    type="name"
    value="{{this.last_name}}"
    name="last_name"
    class="form-control"
    id="exampleInputEmail1"
    placeholder="Last Name"
    aria-describedby="emailHelp"
  />
</div>
<div class="mb-3 col-6">
  <label for="exampleInputEmail1" class="form-label">Email</label>
  <input
    type="email"
    value="{{this.email}}"
    name="email"
    class="form-control"
    id="exampleInputEmail1"
    placeholder="Email"
    aria-describedby="emailHelp"
  />
</div>
<div class="mb-3 col-6">
  <label for="exampleInputEmail1" class="form-label">Phone</label>
  <input
    type="phone"
    value="{{this.phone}}"
    name="phone"
    class="form-control"
    id="exampleInputEmail1"
    placeholder="Phone"
    aria-describedby="emailHelp"
  />
</div>
<div class="mb-3 col-12">
  <label for="exampleInputEmail1" class="form-label">Comments</label>
  <input
    type="text"
    value="{{this.comments}}"
    name="comments"
    class="form-control"
    id="exampleInputEmail1"
    placeholder="Comments"
    aria-describedby="emailHelp"
  />
</div>

<button type="submit" class="btn btn-primary">Submit</button>